<!DOCTYPE html>

<html lang="en">
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<head>
<meta charset="utf-8"/>
<title>课程评审</title>
<!--<link href="//assets.zhihuishu.com/icon/favicon.ico" rel="shortcut icon" />-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/assets/home/common/css/skin-blue/blue.min.css}" />-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/assets/home/common/css/fontcommon/iconfont.css}" />-->
<!--<link rel="stylesheet" th:href="@{/assets/home/Runningdata/css/curriculumreview.css}">-->
<!--<link href="https://cdn.bootcss.com/jquery.nanoscroller/0.8.7/css/nanoscroller.css" rel="stylesheet">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/assets/home/common/css/base.css}" />-->
</head>
<body>
<!--<div class="courseHomeright-div fl">-->
<input id="mapStudent" type="hidden" value='{"20年秋冬":"27"}'/>
<input id="mapTotalQa" type="hidden" value='{"20年秋冬":"45"}'/>
<input id="mapQaTeacher" type="hidden" value='{"20年秋冬":"45"}'/>
<input id="mapTestStuNum" type="hidden" value='{"20年秋冬":"4"}'/>
<input id="mapExamStuNum" type="hidden" value='{"20年秋冬":"0"}'/>
<input id="mapQaUser" type="hidden" value='{"20年秋冬":"1"}'/>
<input id="qualifiedStu" type="hidden" value='{"20年秋冬":"0"}'/>
<input id="schCount" type="hidden" value='{"20年秋冬":"0"}'/>
<div class="questionanswer-num-p questionanswer-num-p-top clearfix">
<span class="qnp-title">运行数据</span>
<div>
<div class="see-more">查看详情</div>
</div>
<span class="notes">（每日24:00更新）</span>
</div>
<div>
<!-- 选课人次图表 -->
<div class="chart-box">
<div class="chart-title">学习人数</div>
<div class="chart-course" id="chart-course"></div>
</div>
<!-- 选课学校图表 -->
<div class="chart-box">
<div class="chart-title">选课学校数</div>
<div class="chart-school" id="chart-school"></div>
</div>
<!-- 论坛互动图表 -->
<div class="chart-box chart-box-post">
<div class="chart-title">
<div class="title-cart title-cart1 title-cart-active">问答总数</div>
<div class="title-cart">教师问答总数</div>
<div class="title-cart">参与互动人数</div>
</div>
<div class="chart-post-fre chart-post-fre-active" id="chart-post-fre"></div>
<div class="chart-post-fre" id="chart-post-teacfre"></div>
<div class="chart-post-fre" id="chart-post-nop"></div>
</div>
<!-- 测试考试参与人数图表 -->
<div class="chart-box chart-box-exam">
<div class="chart-title">测试与考试
               <div class="chart-color chart-color-right">
<div class="color-icon color-blue"></div>
<div class="color-infor">测试参与人数</div>
<div class="color-icon color-green"></div>
<div class="color-infor">考试参与人数</div>
<div class="color-icon color-red"></div>
<div class="color-infor">考试通过人数</div>
</div>
</div>
<div class="chart-exam" id="chart-exam"></div>
</div>
<!-- 课程基本数据 -->
<script src="/assets/home/Runningdata/js/curriculumreview.js"></script>
</div>
<div class="run-data-infor">
<div id="contenter">
<div class="con-left clearfix">
<div class="title"><div class="col1">项目</div><div class="col2">
<div>
<!--高校应用-->
                    合计
                </div>
</div></div>
</div>
<div id="theadDiv">
<div class="scroll-box cen-wapper2">
<div class="cen-data">
<div class="cen-data">
<span>20年秋冬</span>
</div>
</div>
</div>
</div>
<div class="divScroll">
<div id="tbodyDiv">
<div class="scroll-left clearfix">
<div class="scroll-cen">
<div class="body"><div class="col1">开设周数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body body-n"><div class="col1" style="line-height:34px;">学习人数<br/><span style="color:#afb0b1;position: absolute;left: 0;top: 20px;">包含SPOC学习人数</span></div>
<div>
<div class="col2">27</div>
</div>
</div>
<div class="body"><div class="col1">本校学习人数</div>
<div>
<div class="col2">0</div>
</div>
</div>
<div class="body body-n"><div class="col1">选课学校数</div>
<div>
<div class="col2">
<div class="">0</div>
</div>
</div>
</div>
<div class="body"><div class="col1">授课视频数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body body-n"><div class="col1">视频总时长（分钟）</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body"><div class="col1">课程资料总数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body body-n"><div class="col1">非视频资源数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body"><div class="col1" style="line-height:34px;">课程公告数<span style="color:#afb0b1;position: absolute;left: 0;top: 20px;">含选课学校发布的公告数</span></div>
<div>
<div class="col2">0</div>
</div>
</div>
<div class="body body-n"><div class="col1">测试总次数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body"><div class="col1">测试习题总数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body body-n"><div class="col1">测试参与人数</div>
<div>
<div class="col2">4</div>
</div>
</div>
<div class="body"><div class="col1">问答总数</div>
<div>
<div class="col2">45</div>
</div>
</div>
<div class="body body-n"><div class="col1">教师问答数</div>
<div>
<div class="col2">45</div>
</div>
</div>
<div class="body"><div class="col1">参与互动人数</div>
<div>
<div class="col2">1</div>
</div>
</div>
<div class="body body-n"><div class="col1">考试次数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body"><div class="col1">考试题总数</div>
<div>
<div class="col2">- -</div>
</div>
</div>
<div class="body body-n"><div class="col1">考试参与人数</div>
<div>
<div class="col2">0</div>
</div>
</div>
<div class="body"><div class="col1">考试通过人数</div>
<div>
<div class="col2">0</div>
</div>
</div>
<div class="body body-n"><div class="col1">SPOC选课学校</div>
<div>
<div class="col2">
<div class="">0</div>
</div>
</div>
</div>
<div class="body"><div class="col1">SPOC选课人数</div>
<div>
<div class="col2">0</div>
</div>
</div>
</div>
</div>
<div class="cen">
<div class="clearfix cen-wapper">
<input id="cen-data" type="hidden" value="1"/>
<div class="cen-data">
<div class="list">
<span>14</span>
<span class="tr-n">27</span>
<span>0</span>
<span class="tr-n">0</span>
<span>41</span>
<span class="tr-n">420</span>
<span>0</span>
<span class="tr-n">0</span>
<span>0</span>
<span class="tr-n">15</span>
<span>150</span>
<span class="tr-n">4</span>
<span>45</span>
<span class="tr-n">45</span>
<span>1</span>
<span class="tr-n">2</span>
<span>120</span>
<span class="tr-n">0</span>
<span>0</span>
<span class="tr-n">0</span>
<span>0</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ElectiveSchool-div" id="sel_school_div" style="display:none;">
<div class="backbtndiv clearfix">
<div class="fl school-div"><label>选课学校：</label><span class="bluecolor">0</span></div>
<div class="backbtn fr" onclick="showContenter();"><em class="fl"></em><span class="fl">返回</span></div>
</div>
<div class="schooldiv" id="schoolList_div"></div>
</div>
<!-- SPOC选课选校 -->
<div class="ElectiveSchool-div" id="spoc_sel_school_div" style="display:none;">
<div class="backbtndiv clearfix">
<div class="fl school-div"><label>SPOC选课学校：</label><span class="bluecolor">0</span></div>
<div class="backbtn fr" onclick="spocShowContenter();"><em class="fl"></em><span class="fl">返回</span></div>
</div>
<div class="schooldiv" id="spoc_schoolList_div"></div>
</div>
</div>
</body>
<!--<script src="//assets.zhihuishu.com/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script th:src="@{/assets/home/common/css/layui/layui.js}" type="text/javascript" charset="utf-8"></script>-->
<!-- <script src="../assets/common/js/CourseHome-top.js"></script> -->
<!--<script src="https://cdn.bootcss.com/highcharts/6.0.7/highcharts.js"></script>-->
<!--<script type="text/javascript" src="//assets.zhihuishu.com/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.min.js"></script>-->
<script>
    var flag = 1;
    if(!(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE8.0")){
        $('#tbodyDiv .cen').addClass('overflow1')
    }
    layui.use('layer', function(){
        var title;
        var layer = layui.layer;
        if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE8.0"){
            title ='运行数据汇总表(备注:本页面数据每24小时更新一次)';
        }else {
            title = '运行数据汇总表<span style="font-size:13px;color: #777777;">(备注:本页面数据每24小时更新一次)</spanclass>';
        }
        $('.see-more').click(function(){
            layer.open({
                title:title,
                type: 1,
                skin: 'runingdata', //样式类名
                anim: 2,
                shadeClose: false, //开启遮罩关闭
                content: $('.run-data-infor'),
                area:['958px','500px'],
                scrollbar: false,
                move:false,
                resize:false,
                cancel: function() {
                    if(flag == 2) {
                        showContenter();
                    }
                }
            });
            if(navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion .split(";")[1].replace(/[ ]/g,"")=="MSIE8.0")
            {
                $(".scroll-left").scroll(function(){
                    $("#tbodyDiv .cen").scrollTop($(this).scrollTop()); // 纵向滚动条

                });
                $("#tbodyDiv .cen ").scroll(function(){
                    $(".scroll-left").scrollTop($(this).scrollTop());
                });
            }
        });

    });


    $('#tbodyDiv .cen').on('scroll', function () {
        $("#theadDiv").scrollLeft($('#tbodyDiv .cen').scrollLeft());
    });
    $('#tbodyDiv .cen').on('scroll',function () {
        $('.scroll-left').scrollTop($('#tbodyDiv .cen').scrollTop());
    })

    $('.title-cart').click(function(){
        $('.title-cart').removeClass('title-cart-active');
        var oIndex = $('.title-cart').index($(this));
        oIndex == 1 ? $('.chart-box-post .chart-color').children().hide() : $('.chart-box-post .chart-color').children().show()
        $(this).addClass('title-cart-active');
        var oIndex = $('.title-cart').index($(this));
        $('.chart-post-fre').removeClass('chart-post-fre-active');
        $('.chart-post-fre').eq(oIndex).addClass('chart-post-fre-active');
    });

    function showContenter() {
        flag = 1;
        $("#schoolList_div").scrollTop(0);
        $("#contenter").show();
        $("#sel_school_div").hide();
    }


    function showSchool() {
        flag = 2;
        $("#schoolList_div").scrollTop(0);
        $("#contenter").hide();
        $("#sel_school_div").show();
    }

    function spocShowContenter() {
        $("#spoc_schoolList_div").scrollTop(0);
        $("#contenter").show();
        $("#spoc_sel_school_div").hide();
    }

    function spocShowSchool() {
        $("#spoc_schoolList_div").scrollTop(0);
        $("#contenter").hide();
        $("#spoc_sel_school_div").show();
    }
</script>
</html>
